@import "../../styles/partials/global";


.projects {
    min-height: 30rem;
    height: 60vh;
    overflow-y: scroll;


    &__header {
        margin: 2rem 0;
    }

    &__wrap {
        display: flex;

        flex-direction: column;
        align-items: center;

        @include tablet {
            flex-direction: row;

        }

        &--right {
            display: flex;
            flex-direction: column;
            align-items: center;
            // margin: 0 5rem;
        }
    }

    &__title {
        // margin: 1rem 0;
    }

    &__image {
        width: 100%;

        @include tablet {
            margin: 2rem;
            width: 20rem;
            height: 30rem;
        }
    }
}