@import "../../styles/partials/global";


.projects {

    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    &:hover {
        background-color: aliceblue;
    }

    @include desktop {
        margin: 0 1rem;
        border-radius: 2rem;
    }

    &__header {
        margin: 2rem 0;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            flex-direction: row;

        }

        &--right {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 1rem;

            @include tablet {
                width: 45vw;
            }

            @include desktop {
                width: 35vw;
            }

        }
    }

    &__title {
        font-size: 2rem;
    }

    &__image {
        width: 50%;

        @include tablet {
            margin: 2rem;
            width: 20rem;
            height: 30rem;
        }
    }
}