@import "../../styles/partials/global";


.projects {



    &__header {
        margin: 2rem 0;
    }

    &__wrap {
        display: flex;
        flex-direction: column;


        @include tablet {
            flex-direction: row;

        }

        &--right {
            display: flex;
            flex-direction: column;

            @include tablet {
                width: 45vw;
            }

        }
    }

    &__title {
        // margin: 1rem 0;
    }

    &__image {
        width: 50%;

        @include tablet {
            margin: 2rem;
            width: 20rem;
            height: 30rem;
        }
    }
}