@use '../../styles/partials/global'as *;

.project-card {
    display: flex;
    padding: 1rem 2rem;
    margin: 1rem;
    align-items: center;
    cursor: pointer;
    background-color: rgba(229, 229, 229, 0.237);

    @include desktop {}


    &:hover {
        background-color: aliceblue;
    }

    &__name {
        padding-left: 2rem;
    }

    &__img {
        width: 6rem;
        height: 6rem;

    }
}