.hero {
    top: 3rem;
    width: 100%;
    height: 30vh;
    background: #0855b3a4;
    position: relative;
    transform: skewY(5deg);
    z-index: 20;
    box-shadow: inset 0 0 2000px rgba(86, 96, 214, 0.5);




    &__shadow {
        top: -10rem;
        position: relative;
        background: #080000b1;
        width: 100%;
        height: 15vh;
        transform: skewY(-5deg);
        z-index: 0;
        filter: hue-rotate(-50deg);
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    }

    &__blur {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2rem);
    }

    &__title {
        font-size: 3rem;
        color: white;
        z-index: 188;
    }

}