@import "../../styles/partials/mixins";

.foreground {
    z-index: 105;
    color: white;
    margin-top: 1rem;
    position: absolute;
    top: 12%;
    left: 5%;
    width: 90vw;
    height: 65%;
    border-radius: 1rem;
    background-color: rgba(136, 142, 255, 0.52);
}