@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";
@import "./variables";
// @import "./reset";
@import "./mixin";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro';
    font-weight: normal;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

p {
    font-family: 'Barlow Semi Condensed';
    font-weight: 100;
    line-height: 1.4;
    text-align: center;
}