@import "../../../styles/partials/global";

.project-section {
    width: 100%;
    display: flex;



    &__nav-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        bottom: -1rem;



    }

    &__call-to-action {
        background-color: royalblue;
        border: 0;
        box-shadow: 0;
        color: white;
        border-radius: 1rem;
        font-size: 1.5rem;
        width: 50%;
        height: 5rem;

        &:hover {
            background-color: rgb(72, 138, 251);
        }

        @include tablet {
            width: 15rem;

        }
    }

    &__nav {
        font-size: 4rem;
        background-color: rgba(234, 231, 231, 0.685);
        border: none;
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;

        &:hover {
            background-color: rgba(241, 239, 239, 0.911);
        }

    }

}