@use "../../styles/partials/global" as *;

.action {
    position: sticky;
    bottom: 0.75rem;
    width: calc(100% - 1.5rem);
    margin: 0 auto 0.75rem;
    z-index: 100;
    background: rgba(175, 212, 255, 0.33);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(15, 121, 243, 0.19);

    &__wrap {
        display: flex;
        justify-content: center;

    }

    &__button {
        border-radius: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        display: flex;
        flex-direction: column;
        font-size: 0.5rem;
        cursor: pointer;
        color: rgb(0, 49, 128);

        &:hover {}
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    &__title {
        font-size: 1rem;
        font-weight: 400;
        text-align: center;

        @include tablet {
            font-size: 1.1rem;
        }

        @include desktop {
            font-size: 1.2rem;
        }
    }
}
