@import "./partials/global";
@import "./partials/mixin";

@import "./partials/variables";

.main-logo {
    font-size: 3rem;
    text-align: center;
}

.navbar {
    &__item {
        margin: 1rem 1rem 1rem 0.5rem;
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
    }


}

.main-content {

    &__title {

        margin: 1rem 0;
    }

    &__text {}
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60vh;






}