@import "../../styles/partials/global";

.background {
    top: 5rem;
    width: 100%;
    height: 82vh;
    background: linear-gradient(360deg, rgba(16, 136, 161, 1) 4%, rgba(11, 28, 54, 1) 92%);
    position: relative;
    z-index: 20;
    box-shadow: inset 0 0 2000px rgba(86, 96, 214, 0.5);


    &__page-title {
        padding-top: 1rem;
        text-align: center;
        font-size: 2rem;
        color: white;


    }

}

.cloud {
    display: inline-block;
    background: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    top: 15rem;
    -webkit-filter: blur(0.5rem);
    z-index: 11;
    left: -50px;
    animation: 80000ms cloudAnimation linear infinite;
    opacity: 0.76;
}

.cloud:before {
    content: "";
    display: inline-block;
    background: white;
    width: 100px;
    height: 100px;
    -webkit-filter: blur(3px);
    position: relative;
    border-radius: 50%;
    top: -30px;
    left: 60px;
}

.cloud:after {
    content: "";
    display: inline-block;
    background: white;
    width: 200px;
    height: 100px;
    -webkit-filter: blur(3px);
    position: relative;
    border-radius: 50%;
    top: -80px;
    left: 70px;
}

.cloud:first-child {
    zoom: 1.5;
}

@keyframes cloudAnimation {
    0% {
        transform: translateX(-30vw);
    }

    100% {
        transform: translateX(90vw);
    }
}

.sun {
    position: relative;
    top: 5rem;
    left: 50%;
    display: inline-block;
    border-radius: 50%;
    background: orange;
    box-shadow: 0 0 10px orange,
        0 0 60px orange,
        0 0 200px yellow,
        inset 0 0 80px yellow;
    z-index: 12;
    align: center;
    z-index: -99;
    height: 6.125rem;
    width: 6.125rem;

    @include tablet {
        height: 12.5rem;
        width: 12.5rem;
    }
}